.card {
    transition: transform 0.2s;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.unchecked-btn {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.card:hover {
    transform: scale(1.1);
    background-position: right center;
}

.card-title {
    padding-top: 15px;
}

.btn-fix {
    padding: 0;
    border: none;
    outline: none;
    white-space: normal;
    color: black;
    text-align: left;
}

.btn-title {
    padding-top: 4px;
    padding-left: 5px;
    font-weight: 600;
    color: #266EF6;
}

.card-title {
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
}

.btn-card-body {
    justify-content: space-between;
    padding-right: 10px;
}