@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

*:focus {
    outline: 0 !important;
}

@keyframes fly {
    100% {
        transform: rotate(1turn) translate(100px) rotate(-1turn);
    }
}

@keyframes flyPlus {
    100% {
        transform: rotate(-1turn) translate(100px) rotate(1turn);
    }
}

body {
    background-image: radial-gradient(at top left, #266EF6, transparent), radial-gradient(at top right, #266EF6, transparent), radial-gradient(at bottom left, #AF3C43, transparent), radial-gradient(at bottom right, #266EF6, transparent);
    /* background-repeat: none; */
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: background 2s;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper {
    width: 400px;
    height: 400px;
    background: #FFD300;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
}

.base {
    position: absolute;
    opacity: 0.7;
    filter: blur(60px);
}

.one {
    border-radius: 100%;
    width: 500px;
    height: 500px;
    background-color: #fff;
    left: 300px;
    opacity: 0.6;
    top: -300px;
    z-index: 3;
    animation: fly 12s linear infinite;
    transform: rotate(0) translate(80px) rotate(0);
}

.three {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    bottom: 80px;
    right: 100px;
    background-color: #BF00FF;
    animation: flyPlus 8s linear infinite;
    transform: rotate(0) translate(100px) rotate(0);
}

.appHeader {
    font-weight: 700;
    font-size: 50px;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
}

.smallHeader {
    width: 70px;
    height: 50px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding-left: 0px;
}

.fan-settings>h3 {
    padding-bottom: 10px;
    font-weight: 600;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    padding-top: 15px;
}

.sliderRange {
    --SliderColor: hsla(73, 100%, 50%, 0.856);
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderRange:hover {
    opacity: 1;
}

.sliderRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: rebeccapurple;
    cursor: pointer;
}

.btn-fix {
    padding: 0;
    border: none;
    outline: none;
    white-space: normal;
    color: black;
    text-align: left;
}

.btn-title {
    padding-top: 4px;
    padding-left: 5px;
    font-weight: 600;
    color: #266EF6;
}

.card-title {
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
}

.rgb-settings>h3 {
    padding-top: 20px;
    font-weight: 600;
}

.rgb-settings>h4 {
    font-size: 20px;
    padding-left: 9px;
    padding-top: 20px;
}

.battery-manager>h3 {
    font-weight: 600;
}

.battery-manager>.row {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.battery-manager>h4 {
    font-size: 20px;
}

.col>h4 {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.brightness {
    padding-left: 15px;
    padding-top: 5px;
}

#ex1Slider .slider-selection {
    background: #bababa;
}

.btn-group {
    padding-top: 15px;
    padding-left: 10px;
}

.cp>h4 {
    font-size: 20px;
    padding: 10px;
    width: 75%;
    text-align: center;
}

.row {
    justify-content: space-between;
}

.cp {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.col {
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
}

.reinvented-color-wheel {
    position: relative;
    display: inline-block;
    line-height: 0;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center;
    border-radius: 50%
}

.reinvented-color-wheel--hue-wheel {
    border-radius: 50%
}

.reinvented-color-wheel--sv-space {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.reinvented-color-wheel--hue-handle,
.reinvented-color-wheel--sv-handle {
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #000 inset
}

.reinvented-color-wheel--hue-handle {
    pointer-events: none
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modaltext {
    color: #266EF6;
}

.modal-btn {
    border: 1px solid blueviolet;
    background-color: white;
    color: blueviolet;
    padding-top: 4px;
    padding-right: 3px;
    font-size: 16px;
    cursor: pointer;
}

.progress {
    height: 1px;
    margin-bottom: 20px;
}

.progress-bar.indeterminate {
    position: relative;
    animation: progress-indeterminate 1s linear infinite;
}

@keyframes progress-indeterminate {
    from {
        left: -25%;
        width: 25%;
    }
    to {
        left: 100%;
        width: 25%;
    }
}